<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to reset your password. You new password is <%= @token %> .</p>

<p><%= link_to 'Change my password', reset_password_v1_users_url(token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
